{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}


<!-- Page Wrapper -->
<div class="page-wrapper">
			
    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
                <div class="row align-items-center">
                <div class="col">
                  <br>  {{ utils.flashed_messages() }} </br>
                    <h3 class="page-title">Users </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Admin Only</li>  
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="{{ url_for('admin.add_user') }}" class="btn add-btn" ><i class="fa fa-plus"></i> Add Users</a>
                    <div class="view-icons">
                        <a href="#" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>
                        <a href=#" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee ID</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Mobile Number</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <a href="#" class="btn btn-success btn-block"> Search </a>  
            </div>     
        </div>
        <!-- /Search Filter -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    {% if users %}
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email Address</th>
                                <th>User Privileges</th>
                                <th> Date Created </th>
                                <th class="text-right no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar"><img alt="" src="static/img/profiles/avatar-02.jpg"></a>
                                        <a href="#"> {{ user.username }}  <span> Real Name </span></a>
                                    </h2>
                                </td>
                                
                                <td>{{user.email }}</td>
                                {%if user.is_admin %}
                                <td>Admin User</td>
                                {%elif user.is_super_admin %}
                                <td>Super Admin</td>
                                {%else %}
                                <td>User Only</td>
                                {% endif %}
                                <td>{{ user.date_created.strftime('%B %d, %Y')}}</td>
                                
                                
                                
                                <td><a href="{{ url_for('admin.edit_user', id=user.id) }}" class="btn btn-warning btn-rounded ">Edit</a>  <td>
                                <td><a href="{{ url_for('admin.show_user', id=user.id) }}" class=" btn btn-success  btn-rounded " >view</a> </td>
                                <td><a href="{{ url_for('admin.delete_user', id=user.id) }}" class=" btn btn-danger  btn-rounded " >Delete</a> </td>
                            </tr>
                            {% endfor %}
                            
                                
                        </tbody>
                    </table>

                    {% else %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /Page Content -->
    
    <!-- Add Employee Modal -->
   
<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

{% endblock %}